<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{base::layout(~{::section})}"
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section class="vh-100 bg-image"
         style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');">
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="card" style="border-radius: 15px;">
                        <div class="card-body p-5">
                            <th:block th:if="${param.error}" class="text-uppercase text-center mb-5">
                                <p class="text-center text-uppercase text-danger">
                                    [[${session.SPRING_SECURITY_LAST_EXCEPTION.message}]]
                                </p>
                            </th:block>
                            <th:block th:if="${param.logout}" class="text-uppercase text-center mb-5" id="logoutMessage">
                                <p class="text-center text-uppercase text-success">
                                    Logout Successfully
                                </p>
                            </th:block>
                            <h2 class="text-uppercase text-center mb-5">LOGIN</h2>

                            <form action="userLogin" method="post">

                                <div class="form-outline mb-4">
                                    <label class="form-label" for="form3Example3cg">Your Email</label>
                                    <input type="email" id="form3Example3cg" class="form-control form-control-lg" name="username"/>
                                </div>

                                <div class="form-outline mb-4">
                                    <label class="form-label" for="form3Example4cg">Password</label>
                                    <input type="password" id="form3Example4cg" class="form-control form-control-lg" name="password"/>
                                </div>

                                <div class="d-flex justify-content-center">
                                    <button type="submit" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body" value="Log in">Login</button>
                                </div>

                                <p class="text-center text-muted mt-5 mb-0">Don't have an account? <a href="register"
                                                                                                        class="fw-bold text-body"><u>SignUp here</u></a></p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded",function (){
            const logoutMessage = document.getElementById("logoutMessage");
            // If the message container exists, remove it
            if (logoutMessage) {
                logoutMessage.parentNode.removeChild(logoutMessage);
            }
        })
    </script>
</section>
</body>
</html>